.hd-rigth a:hover{
	color: #FFFFFF;
}
.top_bannner div .top_b_left li:hover{
	cursor: pointer;
	background: #CC9756;
	color: #FFFFFF;
}
.content_more .jiantou:hover{
	background: #000000;
	color: #FFFFFF;
}
