<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
		
  	<context:annotation-config></context:annotation-config>
    <!-- 使用注解的包，包括包的子集 -->
    <context:component-scan base-package="com.ht.action"></context:component-scan>
    
    <!-- json解析器 -->
    <mvc:annotation-driven/><!-- 命名空间映射 -->
	<!-- 解析返回JSON -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	    <property name="supportedMediaTypes">
	    	<list>
	    	    <value>text/html;charset=utf-8</value>
	    	    <value>application/json;charset=utf-8</value>
	    	</list>	
	    </property>
	    <!-- 配置对象映射属性 -->
	    <property name="objectMapper">
	        <bean class="com.fasterxml.jackson.databind.ObjectMapper">
	            <!-- 配置时间格式转换 -->
	            <property name="dateFormat">
	                <!-- 将转换类的构造注入进行配置 -->
	                <!-- 将对象转为json时，会自动将Date格式化，那么使用时需要在相应Date的属性的getter方法进行注解 -->
	                <!-- @JsonFormat(pattern="yyyy/MM/dd HH:mm:ss") -->
	                <bean class="java.text.SimpleDateFormat">
	                    <!-- 构造器注入，simpledateformat类中有这一个方法 -->
	                    <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"></constructor-arg>
	                </bean>
	            </property>
	        </bean>
	    </property>
	</bean>
	<bean
	    class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
	    <property name="messageConverters">
	        <list>
	            <ref bean="mappingJacksonHttpMessageConverter"/>
	        </list>
	    </property>
	</bean>
	
    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property><!-- 没有文件夹 / -->
        <property name="suffix" value=".jsp"></property>
    </bean>
    
    <!-- 文件解析器 -->
     <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <property name="defaultEncoding" value="UTF-8"></property>
         <property name="maxUploadSize" value="10240000"></property><!-- 大小 -->
     </bean>
</beans>