<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.dao.RatesDao">
	<resultMap type="Rates" id="ratesmap">
		<id column="r_id" property="r_id" />
		<result column="r_name" property="r_name" />
		<result column="r_zhi" property="r_zhi" />
		<result column="r_tiao" property="r_tiao" />
	</resultMap>


	<select id="selrateslist" resultType="Rates">
		select * from rates
	</select>

	<insert id="add" parameterType="Rates">
		insert into rates
		values(sys_guid(),#{r_name},#{r_zhi},#{r_tiao})
	</insert>

	<update id="upd" parameterType="Rates">
		update rates set r_name =
		#{r_name} ,r_zhi = #{r_zhi},r_tiao=#{r_tiao}  where r_id = #{r_id}
	</update>

	<delete id="del" parameterType="String">
		delete from rates where r_id =
		#{r_id}
	</delete>
	<select id="get" parameterType="String" resultType="Rates">
		select * from
		rates where r_id = #{r_id}
	</select>
</mapper>
