<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.dao.ZilaioDao">
	<resultMap type="Ziliao" id="zlmap">
		<id column="zid" property="zid" />
		<result column="userid" property="userid" />
		<result column="sfz" property="sfz" />
		<result column="gzz" property="gzz" />
		<result column="srz" property="srz" />
		<result column="jzz" property="jzz" />
		<result column="xyz" property="xyz" />

	</resultMap>
	<resultMap type="Ziliao2" id="zlmap2" extends="zlmap">
		<association property="ttzuser" column="userid"
			select="com.ht.dao.TtzuserDao.selmyuserid"></association>
	</resultMap>




	<insert id="insert" parameterType="Ziliao">
		insert into ziliao
		values(sys_guid(),#{userid},'1','1','1','1','1')
	</insert>

	<select id="selectAll" resultMap="zlmap2">
		select * from ziliao
	</select>

	<update id="updateSFZ" parameterType="map">
		update ziliao set sfz =
		#{zhutai} where userid = #{userid}
	</update>

	<update id="updateGZZ" parameterType="map">
		update ziliao set gzz =
		#{zhutai} where userid = #{userid}
	</update>

	<update id="updateSRZ" parameterType="map">
		update ziliao set srz =
		#{zhutai} where userid = #{userid}
	</update>

	<update id="updateJZZ" parameterType="map">
		update ziliao set jzz =
		#{zhutai} where userid = #{userid}
	</update>

	<update id="updateXYZ" parameterType="map">
		update ziliao set xyz =
		#{zhutai} where userid = #{userid}
	</update>

	<select id="selectOneUserZiLiao" parameterType="String"
		resultType="Ziliao">
		select * from ziliao where userid=#{userid}
	</select>
</mapper>
