<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置数据库连接 -->
		
		<!-- 将hibernate执行的sql打印到控制 -->
		
		<!-- 映射文件配置 -->
		
	</session-factory>
</hibernate-configuration>
