<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.yfbc.dao.PickingDao">
  <resultMap type="Picking" id="pickingmap">
  	<id column="picid" property="picid" />
  	<result column="piid" property="piid" />
  	<result column="packageqty" property="packageqty" />
  	<result column="pickqty" property="pickqty" />
  	<result column="damagedqty" property="damagedqty" />
  	<result column="damagedreason" property="damagedreason" />
  </resultMap>
  
  <!-- 查询所有出库计划单 -->
  <select id="selPicking" resultType="Picking">
      select * from picking
  </select>
   <insert id="addPicking" parameterType="Picking">
      insert into picking values(sys_guid(),sys_guid(),10,10,0,'没有坏货')
  </insert>
  
</mapper>